<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__ul">
            <li class="main-header__li"><a class="<%=path==='main' ? 'active' : ''%>" href="/main">Main</a></li>
            <li class="main-header__li"><a class="<%=path==='/' ? 'active' : ''%>" href="/">Users</a></li>
        </ul>
    </nav>
</header>