.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: block;
}

.product-item {
    width: 20rem;
    max-width: 95%;
    margin: 1rem;
}

.product__title {
    padding: 0.5rem;
    font-size: 1.2rem;
    text-align: center;
    color:#00695c;
}

.product__price {
    text-align: center;
    color: #68b6ad;
    margin-bottom: 0.5rem;
}

.product__description {
    text-align: center;
    color:#bdb87b;
}