<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/users.css">
    <title>Document</title>
</head>

<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__ul">
                <li class="main-header__li"><a href="/">Main</a></li>
                <li class="main-header__li"><a class="active" href="/users">Users</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="listname">
            <ul class="listname_ul">
                <li>Yuri</li>
                <li>Dmitri</li>
                <li>Petr</li>
                <li>Ivan</li>
                <li>Michael</li>
            </ul>
        </div>
    </main>
</body>

</html>