<%- include('includes/head.ejs')  %>
    <link rel="stylesheet" href="/css/main.css">

    </head>

    <body>
        <%- include('includes/navigation.ejs')  %>
            <main>
                <div class="main-div">
                    <div class="page-error">
                        Hello World! <br> Page not found!
                    </div>
                </div>
            </main>
            <%- include('includes/footer.ejs') %>