<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Document</title>
</head>

<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__ul">
                <li class="main-header__li"><a class="active" href="/">Main</a></li>
                <li class="main-header__li"><a href="/users">Users</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="main-div">
            <form action="/main" method="POST"><input type="text"><button type="submit"></button></form>

            <!-- HELLO WORLD!!! <br>
            <b>THE CHALLANGE IS THROWN</b> -->
        </div>
    </main>
</body>

</html>