<%- include('includes/head.ejs')  %>
    <link rel="stylesheet" href="/css/main.css">
    </head>

    <body>
        <%- include('includes/navigation.ejs')  %>
            <main>
                <div class="main-div">
                    <form action="/main" method="POST"><input type="text" name='name'><button type="submit">Add</button></form>
                    <!-- HELLO WORLD!!! <br>
            <b>THE CHALLANGE IS THROWN</b> -->
                </div>
                <%- include('includes/footer.ejs') %>